#page-title
  %h3 QBD Mapping
  %h4 Unlinked Paypal Accounts
#content-options
  #content-buttons

  #content-search
    =text_field_tag "Search", "Search...", :size => 30

%table.table2
  %thead
    %tr
      %th{:scope => "col"} Paypal Account Email
      %th{:scope => "col"} Paypal Account Name
      %th{:scope => "col"} Transactions
      %th{:scope => "col"} Options
  %tbody
    - @paypal_accounts.each do |paypal_account|
      %tr
        %td= paypal_account.email
        %td= [paypal_account.first_name, paypal_account.last_name].join(" ")
        %td= link_to "Transactions", "#"
        %td= link_to "Map", map_paypal_account_path(paypal_account)
      