$font-color: #ccc;
/*$header-bg-color: darken($font-color, 50%);*/
$header-bg-color: #337ABD;
$sidebar-bg-color: lightyellow;
$content-bg-color: transparent;
$footer-bg-color: #337ABD;
$footer-font-color: #FFF;
$topnav-bg-color: lightblue;
$main-background-color: white;
$page-title-color: white;

$default-cool-link-color: blue;

