%ul
  %li= link_to "Reports Dashboard", reports_path
/ %ul
/   %li= link_to "IPM", "#"
/   %li= link_to "SBM", "#"
/   %li= link_to "EM", "#"
/   %li= link_to "Paypal", "#"
/   %li= link_to "Quickbooks", "#"